<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>383985445628-rag66h4ap76e32vi83m0nka0knevt6l4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.383985445628-rag66h4ap76e32vi83m0nka0knevt6l4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>383985445628-j3coifvc0eh2binhes1p1q1tf8dffm0i.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA2wNmHD_bS5rThRoKw89VWtaIi8LBopZ0</string>
	<key>GCM_SENDER_ID</key>
	<string>383985445628</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.equilib.otolingo</string>
	<key>PROJECT_ID</key>
	<string>lingua-8e3dc</string>
	<key>STORAGE_BUCKET</key>
	<string>lingua-8e3dc.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:383985445628:ios:a979a17183972da0068579</string>
</dict>
</plist>